.audio-section {
    margin: 40px;
}
audio {
    width: 400px;
}
.audio-container {
    display: flex;
    justify-content: space-evenly;
}
ul li  {
    cursor: pointer;
    font-weight: 400;
    font-size: 20px;
    list-style: none;
}

@media (max-width: 480px) {
    .audio-container {
        display: block;
        width: 100%;
    }
    ul li {
        display: flex;
        flex-direction: column;
    }
}
@media (min-width: 375px) {
        audio {
            width: 350px;
            position: relative;
            right: 25px;
        }
}